
.central{text-align: center;}

h1, p{color: rgb(12, 71, 128); size: 20px;}

.supertitulo{font-size: 50px}

#tituloprincipal{font-size: 60px;}

p{background-color:antiquewhite;}

/*p{text-align: right;}*/

.minhalista li{color: aqua;}

body{background-image:url(imagens/lirio.jpeg);
    background-repeat: no-repeat;
    background-color: rgb(224, 166, 176);
    /*background-attachment: fixed;*/
}
.caixa{

    margin: 10px;
    margin-top: 50px;
    padding: 20px;
    border: 4px solid black;
    width: fit-content;
    background-color: cadetblue;
}   